.Medicine_DictPage_Conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
}


.atc-link {
    color: darkblue;
    text-decoration: none;
}

.atc-level-1 {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.atc-level-2 {
    font-size: 16px;
}

.atc-level-3 {
    font-size: 14px;
}

.children {
    margin-left: 10px;
}

.atc-code-name {
    display: flex;
    align-items: center;
}

.atc-code {
    white-space: nowrap;
    margin-right: 15px;
    font-weight: bold;
}

.ATC_classification {
    padding: 10px;
}

.ATC_classification h1 {
    text-align: center;
}