#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(23, 23, 23, 0.87);
  background-color: aliceblue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

.PageConteiner {
  display: flex;
  flex-direction: column;
  height: 100%;
}