.MedicinePage_Container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100%;

}

.Search {
    padding: 10px;
    width: 20%;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin: 10px;
    height: 100%;
}