.PageConteiner {
    padding: 20px;
}

.ATCDetailPage_Conteiner {
    margin: 0 auto;
}

.atc-detail {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.children {
    padding: 10px;
}

.children ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.children li {
    font-size: 16px;
}

.atc-link {
    text-decoration: none;
    color: #2f4f98;

}

.atc-code {
    font-weight: bold;
    margin-right: 15px;
    white-space: nowrap;
}

.parent-chain {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.parent-item {
    display: flex;
    align-items: center;
}

.separator {
    margin: 0 5px;
}