.loader {
    border: 8px solid #f3f3f3; /* Светлый цвет фона */
    border-top: 8px solid #3498db; /* Цвет спиннера */
    border-radius: 50%; /* Скругление */
    width: 40px; /* Ширина спиннера */
    height: 40px; /* Высота спиннера */
    animation: spin 2s linear infinite; /* Анимация вращения */
    margin: 20px auto; /* Центрирование спиннера */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}